html, body {
	background-color: #333;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #554444;
}

#the-div {
  width: 1000;
  height: 600;
	margin: 0 auto;
	border: 12px solid #261F1F;
}

#notice {
	margin: 24px auto;
	width: 1000;
	padding: 12px 0;
	border: 12px solid #261F1F;
	background-color: #eeeeff; /*FF6448 for shock value*/
	text-align:center;
	font-size:150%;
}


#the-img {
  position:relative;
  left:0;
  top:0;
}
